<div class="m-3 d-flex flex-wrap align-items-center justify-content-left">
           
    <a href="#" class="btn btn-success text-white m-2 w-25" id="previous">Previous</a>
     <a href="#" class="btn btn-warning text-white m-2 w-25" id="next" >Next</a>
    <a href="#" class="btn btn-danger text-white m-2 w-25" id="end">End</a>
    <a href="/chm101" class="btn btn-success text-white m-2 d-none" id="restart">Re-take Quiz</a>
    

    <div class="btn" >
       
        <span class="text-white bg-primary p-2 m-2" id="at"> Attempted : 0/10</span>
    </div>
</div>