<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam Assist </title>
    <link rel="icon" href="/images/examassist.png" type="image/png" sizes="48x48">
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css">


</head>