
<header class="main_header">
      
    <img class="logo"  src="/images/navbrand.png" alt="logo">

<nav>
    <ul class="listgroup" id="listgroup">
        <div>
            <li class="listgroupitem"><a href="/" id="active">Home</a>    <div class="pipe" id="activer"></div></li>
         
        </div>
        <div>
            <li class="listgroupitem"><a href="/login_signup">Sign-Up</a>  <div class="pipe"></div></li>
           
        </div>
        <div>
            <li class="listgroupitem"><a href="/login">Login</a>   <div class="pipe"></div></li>

        </div>
        
        <div>
            <li class="listgroupitem"><a href="/dev">Dev</a> <div class="pipe"></div></li>
            
        </div>
        <div>
            <li class="listgroupitem"><a href="/reviews">Reviews</a> <div class="pipe"></div></li>
            
        </div>
    </ul>
</nav>
<img src="/images/hamburgermenu.png" id="ham" class="ham" alt="">


</header>