    <header class="main_header">
    <div class="userpic">
    
      <div class="username m-1 fw-bold " ><%= name %></div>

    </div>
  
     
     <nav>
         <ul class="listgroup">
             <div>
                 <li class="listgroupitem scrap"><a href="#"><img src="/images/icons/hamburgermenu.png" class="icons" alt=""><span class="reveal">Menu</span></a>    
              
             </div>
             <div>
                 <li class="listgroupitem"><a href="/userprofile" id="active"><img src="/images/icons/home.png" class="icons" alt=""><span class="reveal">Profile</span></a>    
              
             </div>
             <div>
                 <li class="listgroupitem"><a href="/mainpdfs"><img src="/images/icons/pdficon.png" class="icons" alt=""><span class="reveal">PDF</span></a>
                
             </div>
             <div>
                 <li class="listgroupitem"><a href="/quiz"><img src="/images/icons/quizicon.png" class="icons" alt=""><span class="reveal">Quiz</span></a>
                
             </div>
             <div>
                 <li class="listgroupitem"><a href="/community"><img src="/images/icons/community.png" class="icons" alt=""><span class="reveal">Community</span></a>
     
             </div>
             <div>
                 <li class="listgroupitem"><a href="/contributions"><img src="/images/icons/plus.png" class="icons" alt=""><span class="reveal">Contribute</span></a>
     
             </div>
             <div>
                 <li class="listgroupitem el"><a href="/logout"><img src="/images/icons/logouticon.png" class="icons" alt=""><span class="reveal">Log Out</span></a>
     
             </div>
           
     
         </ul>
     </nav>
    </header> 