<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>

   

   <div class="biography" id="biography">
    <section class="hero roll">
        <div class="text">
            <h1>Michael Light Royal</h1>
            <p class="si">Designer, Developer and Entreprenuer</p>
            <blockquote>
                Life is a journey. Your decisions are your routes, your failures are your deadends, your achievements are your milestones and the people you love, friends or family are your sustainance
            </blockquote>
        </div>
        <div class="hero_image"></div>
    </section>

    <section class="origin roll">
        <h2>Origin</h2>
        <div class="oris">
            <div class="ori roll">
                <div class="ori_img1 oriimg"></div>
                <P class="fa_ori">
                    His father Mr. John Royal Priest OKorie hails from Akanu in Ohafia local Government area of Abia state Nigeria which happens to be an autonomouse community 
                </P>
            </div>
            <div class="ori roll">
                <div class="ori_img2 oriimg"></div>
                <p class="fa_ori">
                    His mother, Mrs. Olubunmi Okorie Formerly addressed as Olubunmi Eyegbhagharen is a native of Itsekiri in Delta state, Nigeria. She is the first daughter of Late Samson Eyegbhagharen
                </p>
            </div>
        </div>
    </section>
    <section class="earlylife roll">
        <h2>Bio</h2>
     <div class="talk roll">
        Michael was born on the 27th of Feb. 2004 at Ijebu Ode General hospital, Ijebu Ode, Ogun State, Nigeria. He was born into a family of four, with two elder siblings (both girls). Tragically, he lost one of his siblings in an unfortunate accident. In 2009 at age 5 his family relocated to Bonny island, Rivers State, Nigeria. There he has spent 15 years of his life. <span id="earlylifemore">
            Michael is known for his friendly and sociable nature, although he identifies as an introvert in his own unique way. He is commonly addressed by the nicknames "Light" or "Royal." His favourite colours are purple and blue due to their symbolic significance. Michael has a reputation for being an overachiever, approaching his passions with great enthusiasm and dedication. While his circle of friends is smaller than most people his age, he values quality connections over quantity.
        </span>
     </div>
    </section>

    <div style="display: grid; place-items: center;">
        <section class="educas roll">
            <h2>Educational Odessey</h2>
            <div class="edus roll">
                <img src="/images/grad.png" alt="grad" class="grd">
                <div class="sch">
                    <h3>Spring Foundation Group of Schools</h3>
                    <a href="#">First School Living Certificate (2009-2014)</a>
                </div>
                
            </div>
    
               <div class="edus roll">
                <img src="/images/grad.png" alt="grad" class="grd">
                <div class="sch">
                    <h3>Spring Foundation Group of Schools</h3>
                    <a href="#">Junior and Senior WAEC Certificates(2015-2021)</a>
                </div>
                
            </div>
    
            <div class="edus roll">
                <img src="/images/grad.png" alt="grad" class="grd">
                <div class="sch">
                    <h3>River State University</h3>
                    <a href="#">Bsc Chemistry (2024 till date)</a>
                </div>
                
            </div>
        </section>
    </div>

 <div style="display: grid; place-items: center;">
    <section class="work roll">
        <h2>Work Experience</h2>
        <div class="works roll">
            <div class="edu_text">
                <h3>Junior Computer Operator</h3>
                <a href="#">Juri Business Center (2021-2022)</a>
            </div>
         
        </div>
        <div class="works roll">
            <div class="edu_text">
                <h3>Web Developer / Programmer / Entreprenuer</h3>
                <a href="#">Trend Tech (2022 till date)</a>
            </div>
     
        </div>
        <div class="works roll">
            <div class="edu_text">
                <h3>Primary 4 Teacher</h3>
                <a href="#">Ebenezer Model School (2022-2023)</a>
            </div>
         
        </div>
        <div class="works roll">
            <div class="edu_text">
                <h3>Primary 4 Teacher</h3>
                <a href="#">Favourite International School (2023-2024)</a>
            </div>
         
        </div>
    </section>

 </div><h2 class="out">Hobbies</h2>
    <section class="hobbies roll">
        
       <div class="hobs">
        <div class="hob_box roll">
            <img src="/images/music.png" alt="" class="hob_img">
            <h2>Music</h2>
            <p>
                He is an instrumentalist who is best aquainted with drumming and playing the piano. He also has a suprisingly good singing voice. 
            </p>
        </div>
        <div class="hob_box roll">
            <img src="/images/reading.png" alt="" class="hob_img">
            <h2>Reading</h2>
            <p>
                From novels, mangas,inspirational books, religious books, autobiographies to educational books, Michael reads them all. 
                He is a vast reader and believes in aquiring knowledge with every line of words
            </p>
        </div>
        <div class="hob_box roll">
            <img src="/images/sports.png" alt="" class="hob_img">
            <h2>Sports</h2>
            <p>
                In terms of sports, Michael participates in volleyball and foot ball, though he doesn't consider himself an avid athlete 
            </p>
        </div>
       </div>
    </section>

   </div>
<div class="contact roll" id="contact">
    <h2 class="out">Send me and Email</h2>
  <section class="form">
    
    <form action="" id="contact_form">
        <label for="name" class="roll">What's Your Name</label>
        <input type="text" class="roll" placeholder="John Doe">
        <label for="message" class="roll">What's your Message</label>
        <textarea rows="10" class="roll" placeholder="I need a website..." name="message" id="message"></textarea>

        <input id="sub" class="roll" type="submit" value="Send">

    </form>
  </section>

  <section class="socialss">
    <h2>Check my Social media</h2>
 <div class="handles">
    <div class="soci">
     
        <span><a class="sp" href="https://wa.link/p54tb1">
              <img src="/images/whatsapp.png" class="icons" alt=""> 
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="#">   <img src="/images/facebook.png" class="icons" alt=""></a></span>
    </div>
    <div class="soci">
        
        <span><a class="sp" href="#">
            <img src="/images/twitterx.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="#">
              <img src="/images/youtube.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="https://www.upwork.com/freelancers/~01786263bca0609a16">
              <img src="/images/upwork.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
       
        <span><a class="sp" href="https://www.linkedin.com/in/imole-royal-800544277/"> <img src="/images/linked.png" class="icons" alt=""> </a></span>
    </div>

 </div>
  </section>
</div>
 <%- include('./partials/header.ejs') %>
<script src="/javascript/navtoggle.js"></script>

</body>
</html>