<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/loggedhead.ejs') %>
<body class="body">
    <div class="cask">
        <ul class="list-group mt-5">
            <li class="list-group-item p-4 text-center fs-4  text-success">Choose Course</li>
            <li class="list-group-item p-4"><a class="text-primary text-decoration-none fs-2" href="/bio101">Biology</a></li>
            <li class="list-group-item p-4"><a class="text-primary text-decoration-none fs-2" href="/phy101">Physics</a></li>
            <li class="list-group-item p-4"><a class="text-primary text-decoration-none fs-2" href="/chm101">Chemistry</a></li>
            <li class="list-group-item p-4"><a class="text-primary text-decoration-none fs-2" href="/mth101">Mathematics</a></li>
        </ul>
    </div>




    <%- include('./partials/loggedinhead.ejs') %>
<%- include('./partials/script.ejs') %>

    <script src="/javascript/navtoggle.js"></script>
</body>
</html>