<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <section class="landing ani" id="landing">
        
            <div class="overlaytext">
                <h1>The online resource and learning library made for you</h1>
                <p>We are thrilled to assist you in your journey towards educational prowess. Have a fantastic learning experience. Thank you </p>
                <a href="#adiout" class="learn">Learn More </a>
            </div>
    
     </section>

<div class="containere">
    <div class="contained">
        <div class="highlight" id="about">
            <h1>OUR GOAL: Helping with Effective and Reliable Exam Preparatinos</h1>
            <P>OUR MANTRA: By failing to prepare, you are preparing to fail :~ Benjamin Franklin</P>
        </div>

        <div class="aboutsnippet" id="adiout">
            <div class="canva ani">
                <div class="img img1"></div>
                <div class="ref">
                    <h1>Our Mission</h1>
                    <p> Our mission is to establish a platform that provides new intakes at Rivers State University with easy access to past resources used by their predecessors. This initiative aims to help freshers gain insight into the university's operational system and navigate their academic journey with confidence.</p>
                 
                </div>                
            </div>
            <div class="canva ani" id="inverse">
                 <div class="ref" id="invert">
                    <h1>Our Services</h1>
                    <p>We give you an entire library of past questions and practical manual fillings used by the previous year and a built in time based quiz to test your knowledge on the core science subjects namely Mathematics, Physics, Chemistry and Biology for both semesters</p>
                
                </div>                
                <div class="img img2"></div>
               
            </div>
            <div class="canva ani">
                <div class="img img3 "></div>
                <div class="ref">
                    <h1>Join Community</h1>
                    <p>Sign up now to join our wonderful community, to access our features and  Connect with others through posts and interactions. We also have a whatsapp platform where like mind individuals brainstorm in a familiar environment</p>
                   
                      
                        <a href="/login_signup" class="learnm">  Join Community</a>
                   
                </div>                
            </div>
        </div>

        <div class="tutores" id="tutlisting">
    <h2 style="text-align: center;margin: 10px;">Available tutorials in Faculty of Science</h2>
    <div class="cin">

        <div class=" card cdi ani">
            <img src="/images/royal.jpg" alt="" class="card-img">
            <div class="card-body">
                <div class="tutlogo logo1"></div>
                <h1 class="card-subtitle fs-4 text-center">The exceptionals</h1>
                <ul class="list-group">
                    <li class="list-group-item border-0 text-primary text-center">Physics</li>
                    <li class="list-group-item border-0 text-primary text-center">Chemistry</li>
                    <li class="list-group-item border-0 text-primary text-center">Mathematics</li>
                </ul>
            </div>
        </div>
        <div class=" card cdi ani">
            <img src="images/henry.jpg" alt="" class="card-img">
            <div class="card-body">
                <div class="tutlogo logo2"></div>
                <h1 class="card-subtitle fs-4 text-center">Solid Mission</h1>
                <ul class="list-group">
                    <li class="list-group-item border-0 text-primary text-center">Physics</li>
                    <li class="list-group-item border-0 text-primary text-center">Chemistry</li>
                    <li class="list-group-item border-0 text-primary text-center">Mathematics</li>
                </ul>
            </div>
        </div>
        <div class=" card cdi ani">
            <img src="/images/noel6.jpg" alt="" class="card-img">
            <div class="card-body">
                <div class="tutlogo logo3"></div>
                <h1 class="card-subtitle fs-4 text-center">Great Minds Academy</h1>
                <ul class="list-group">
                    <li class="list-group-item border-0 text-primary text-center">Physics</li>
                    <li class="list-group-item border-0 text-primary text-center">Chemistry</li>
                    <li class="list-group-item border-0 text-primary text-center">Mathematics</li>
                </ul>
            </div>
        </div>
       
    </div>
        </div>
    </div>
</div>
<footer class="main_footer ani">
    <div class="footerlist">
        <h1>Available Tutorials</h1>
        <ul class="avatut">
            <li class="avatutlist">
                <h2>The Exceptionals</h2>
                <p>Light Royal</p>
                <p>Contact: 09166161304</p>
            </li>
            <li class="avatutlist">
                <h2>Solid Mission</h2>
                <p>Sir Henry</p>
                <p>Contact: 09023140747</p>
            </li>
            <li class="avatutlist">
                <h2>Great Minds Academy</h2>
                <p>Master Noel</p>
                <p>Contact: 09041278611</p>
            </li>
        </ul>
    </div>
    <div class="footerlist">
        <h1>HomePage Navigation</h1>
        <ul class="avatut">
            <li class="avatutlist">
                <a href="#landing">To the top</a>
            </li>
            <li class="avatutlist">
                <a href="#about">About us</a>

            </li>
            <li class="avatutlist">
                <a href="#tutlisting">Tutorial Listing</a>

            </li>
            <li class="avatutlist">
                <a href="/privacy">Privacy policy</a>

            </li>
            <li class="avatutlist">
                <a href="/terms">Terms and Conditions</a>

            </li>
        </ul>
    </div>
    <div class="footerlist">
        <h1>Contact Us</h1>
        <ul class="avatut">
            <li class="avatutlist">
                WhatsApp: 09110158382
            </li>
            <li class="avatutlist">
                Gmail: examassist@gmail.com
            </li>
            <li class="avatutlist">
                Facebook: examassist
            </li>
        </ul>
    </div>
</footer>

<%- include('./partials/header.ejs') %>

<script src="/javascript/navtoggle.js"></script>
 
</body>
</html>