<!DOCTYPE html>
<html lang="en">
<%- include('./partials/loggedhead.ejs') %>
<body class="body">

    <div class="cask">
         <div class="crip">
          <div class="cakn">
            <div class="card-body p-1  juk"  id="pdfdivs">
                <div class="kich card mt-4 mb-2 position-static p-2 text-danger text-center fs-6 border-danger">
                    <h2 class="p-1 fs-5">IMPORTANT NOTICE!!!</h2>
                    It is important to note that due to the implementation of the new CCMAS curriculum most of the course titles were changed but the course content remains the same. Due to this change you may find difference in course titles of course but be rest assured they are still one and the same 
                </div>
             </div>
          </div>
         </div>
    </div>
        
 
 





 <%- include('./partials/loggedinhead.ejs') %>
 <!-- <%- include('./partials/script.ejs') %> -->

    <script src="/javascript/mainpdf.js"></script>
    <!-- <script src="/javascript/navtoggle.js"></script> -->
   
</body>
</html>