<!DOCTYPE html>
<html lang="en">
<%- include('./partials/loggedhead.ejs') %>
<body id="creep">
   

      
    <div class="cask">
    <div class="picex" style="background-image: url('<%= pic %>');">
        <div class="canit">
            <a href="/profile_pic_edit" class="btn btn-dark
             text-white ct">Edit</a> 
          
         </div>
    </div>
      
    </div>
     


   <%- include('./partials/loggedinhead.ejs') %>
   


</body>
</html>