<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="dns">
    
<div class="containerz mt-5 lin">
    <div class="push mt-3 text-center text-primary"><h4>Help us build and improve by writing us a review,</h4></div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem ipsum dolor sit, amet consectetur adipisicing elit. In impedit autem dolores qui totam accusantium, asperiores earum temporibus soluta voluptate cupiditate dignissimos unde tempore excepturi voluptatibus debitis provident doloremque quisquam possimus voluptatem nam aperiam laudantium. Maiores doloribus corporis doloremque in deserunt hic? Optio, doloribus nostrum error reprehenderit in possimus accusantium?</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>
    <div class="reviews m-2 p-3 " >
        <h1 class="fw-bold lip fs-4 m-1">@royal:~</h1>
        <p class="m-1 cdk">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta adipisci ab voluptatem quasi numquam nisi amet officia accusantium, libero sed.</p>
    </div>

</div>
<a href="/login" class="btn btn-primary rounded-2 text-white position-fixed camp m-3">Write a review</a>
    <%- include('./partials/header.ejs') %>
<script src="/javascript/navtoggle.js"></script>

</body>
</html>