<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="priv" style="margin-top: 5%">
    <div>
        <h2 style="text-align: center">
            Welcome Please ensure to read Critically
          </h2>
          <ol>
            Terms and Conditions
Effective Date: [Insert Date]

Welcome to <a href="/">Exam Assist</a> (“we”, “our”, “us”). By accessing or using our website, examassist.onrender.com (the “Website”), you agree to comply with and be bound by these Terms and Conditions (“Terms”). Please read them carefully before using our Website. If you do not agree with any of these Terms, you must refrain from using our Website.

<li>
     <h2>Acceptance of Terms</h2>
By accessing or using our Website, you acknowledge that you have read, understood, and agree to be bound by these Terms, including any future amendments. We reserve the right to update, modify, or change these Terms at any time. Any changes will be posted on this page with an updated "Effective Date."
</li>

<li>
     <h2>Use of the Website</h2>
You agree to use the Website for lawful purposes and in accordance with these Terms. You may not use the Website in a way that:

Violates any applicable local, state, national, or international law or regulation.
Exploits, harms, or attempts to exploit or harm minors in any way.
Transmits or distributes viruses, malware, or other harmful computer code.
Interferes with or disrupts the operation of the Website or servers connected to the Website.
</li>

<li>
     <h2>User Registration and Account</h2>
If the Website requires you to register an account, you agree to:

Provide accurate and complete information during the registration process.
Maintain the confidentiality of your account credentials (e.g., username and password).
Notify us immediately if you believe your account has been compromised.
You are solely responsible for all activities that occur under your account.
</li>

<li>
     <h2>Intellectual Property</h2>
All content on the Website, including text, graphics, logos, images, videos, and software, is the property of <a href="/">Exam assist</a> or its licensors and is protected by copyright, trademark, and other intellectual property laws. You may not use, reproduce, modify, or distribute any content from the Website without our express written permission.
</li>

<li>
 <h2>User-Generated Content</h2>
If you post, upload, or submit any content to the Website (e.g., comments, reviews, photos), you grant us a non-exclusive, worldwide, royalty-free license to use, modify, and display such content in any manner. You are solely responsible for the content you submit and must ensure that it does not infringe upon the rights of others.

You agree not to post any content that is:

Obscene, defamatory, or offensive.
Infringing on any intellectual property rights.
Illegal or violating any laws or regulations.
</li>
<li>
 <h2>Privacy Policy</h2>
Your use of the Website is also governed by our <a href="/privacy">Privacy policy</a>. By using our Website, you consent to the collection and use of your personal information as outlined in the Privacy Policy.
</li>

<li>
     <h2>Payments and Fees</h2>
If you make purchases through the Website, you agree to provide accurate payment information and pay all applicable fees. You are responsible for any applicable taxes associated with your transactions. All payments made through the Website are subject to our payment processing terms.
</li>

<li>
     <h2>Third-Party Links</h2>
The Website may contain links to third-party websites. These links are provided for convenience and informational purposes only. We do not control or endorse these third-party sites, and we are not responsible for their content or privacy practices. You access third-party websites at your own risk.
</li>

<li>
     <h2>Disclaimers</h2>
The Website is provided "as is" and “as available” without warranties of any kind, either express or implied, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, or non-infringement. We do not guarantee that the Website will be error-free, secure, or available at all times.

We do not accept responsibility for any loss, damage, or inconvenience caused by the use of the Website.
</li>

<li>
     <h2>Limitation of Liability</h2>
To the fullest extent permitted by law, <a href="/">Exam Assist</a> shall not be liable for any direct, indirect, incidental, special, consequential, or punitive damages, or any loss of profit, revenue, data, or business opportunity, arising out of or in connection with your use of the Website.
</li>

<li>
     <h2>Indemnification</h2>
You agree to indemnify, defend, and hold harmless <a href="/">Exam Assist</a>, its affiliates, employees, agents, and partners from and against any claims, liabilities, damages, losses, and expenses (including legal fees) arising from your use of the Website, violation of these Terms, or infringement of any third-party rights.
</li>

<li>
     <h2>Termination</h2>
We reserve the right to suspend or terminate your access to the Website at our sole discretion, without notice, if you violate these Terms or engage in behavior that disrupts the operation of the Website.
</li>

<li>
     <h2>Governing Law</h2>
These Terms are governed by and construed in accordance with the laws of River State,Nigeria. , without regard to its conflict of law principles. Any legal action or proceeding related to these Terms shall be brought exclusively in the courts of Rivers State Nigeria.
</li>

     <h2>Severability</h2>
If any provision of these Terms is found to be unlawful, void, or unenforceable, such provision will be deemed severable from the remaining Terms and will not affect the validity and enforceability of the remaining provisions.
</li>

<li>
     <h2>Entire Agreement</h2>
These Terms represent the entire agreement between you and [Your Company Name] regarding the use of the Website and supersede any prior agreements or understandings, whether written or oral, regarding such use.
</li>

<li>
     <h2>Contact Us</h2>
If you have any questions about these Terms, please contact us:

<div class="contact roll" id="contact">
    <h2 class="out">Send us an Email</h2>
  <section class="form">
    
    <form action="" id="contact_form">
        <label for="name" class="roll" style="color: black;">Your Email</label>
        <input type="email" class="roll" placeholder="John Doe">
        <label for="message" class="roll" style="color: black;">What's your Message</label>
        <textarea rows="10" class="roll" placeholder="I need a website..." name="message" id="message"></textarea>

        <input id="sub" class="roll" type="submit" value="Send">

    </form>
  </section>

  <section class="socialss">
    <h2>Check my Social media</h2>
 <div class="handles">
    <div class="soci">
     
        <span><a class="sp" href="https://wa.link/p54tb1">
              <img src="/images/whatsapp.png" class="icons" alt=""> 
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="#">   <img src="/images/facebook.png" class="icons" alt=""></a></span>
    </div>
    <div class="soci">
        
        <span><a class="sp" href="#">
            <img src="/images/twitterx.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="#">
              <img src="/images/youtube.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
      
        <span><a class="sp" href="https://www.upwork.com/freelancers/~01786263bca0609a16">
              <img src="/images/upwork.png" class="icons" alt="">
        </a></span>
    </div>
    <div class="soci">
       
        <span><a class="sp" href="https://www.linkedin.com/in/imole-royal-800544277/"> <img src="/images/linked.png" class="icons" alt=""> </a></span>
    </div>

 </div>
  </section>
</div>
</li>

          </ol>
    </div>
    </div>

    <%- include('./partials/header.ejs') %>

    <script src="/javascript/navtoggle.js"></script>
  </body>
</html>
